<h1>Recenzie</h1>

<% reviews.forEach(r => { %>
<div style="border: 1px solid white; margin: 10px; padding: 10px">
  <p><b><%= r.username %></b></p>
  <p><%= r.title %></p>
  <p><%= r.review_text %></p>
  <p>⭐ <%= r.rating %></p>

  <form method="POST" action="/admin/reviews/<%= r.id %>/delete">
    <button>Delete</button>
  </form>
</div>
<% }) %>
